/* Body & container */
body {
  margin: 0;
  background: #fff9db; /* pastel light yellow */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  border-radius: 20px;
  width: 360px;
  padding: 2rem 2.5rem;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  text-align: center;
}

/* Heading */
h1 {
  color: black;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2rem;
}

/* Timer display */
.timer-display {
  font-size: 3rem
